.advt {
  border: 2px solid black;
  border-radius: 5px;
  height: 60vh;
  width: 20vw;
  margin-top: 60px;
}

.font_size {
  font-size: 25px;
  font-weight: 500;
  margin-top: 68%;
}

@media screen and (max-width: 960px) {
  .advt {
    display: none;
  }
}
